.App-Container {
  display: flex;
  height: 100vh;
  width: 50vw;
}

.App-Main-Section{
  display: flex;
  flex-direction: column;
}

.App-Chat-Section{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.App-Chat-Section-Item{
  background-color: #d63031;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
}

.App-Input-Section {
  display: flex;
  background-color: yellow;
  position: fixed;
  bottom: 0;
  width: 100vw
}

.App-Input-Style{
  width: 100%
}

.App-Button-Style{
  padding: 10px 30px
}